.jumbotron {
	color: rgb(0, 0, 0);
	margin-bottom: auto;
	padding-bottom: 20px;
	padding-top: 25px;
	margin-right: 10%;
	margin-left: 10%;
	text-align: center;
	opacity: .6;
	background-color:rgb(255, 61, 2);
	margin: 0 auto;
}
.body {

}